@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GitGriffin.Web.Pages.Configs.Github.Index

<div>
    <h3>Github Config</h3>

    <form method="post">
        User Name
        <input type="text" asp-for="Config.UserName" placeholder="UserName">

        <br/>

        Access Token
        <input type="text" asp-for="Config.AccessToken" placeholder="Github access token">

        <br/>

        Repositories:
        <ul id="repositories">
            <template id="repository-template">@await Html.PartialAsync("Repository", new Repository(0, string.Empty))</template>

            @for (var x = 0; x < Model.Config.Repositories.Count; x++)
            {
                <li>
                    @await Html.PartialAsync("Repository", new Repository(x, Model.Config.Repositories[x]))
                </li>
            }
        </ul>

        <input type="button" class="btn btn-primary" value="Add Repository" data-action="AddRepository"/>

        <input type="submit" class="btn btn-primary" value="Save" data-action="Submit"/>
    </form>
</div>
