@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GitGriffin.Web</title>
    <script type="importmap"></script>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css"
    >
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GitGriffin.Web.styles.css" asp-append-version="true"/>
</head>
<body>
<header style="position: fixed; width: 100%; top: 0">
    <nav>
        <ul>
            <li><strong>GitGriffin</strong></li>
        </ul>
        <ul>
            <li>
                <details>
                    <summary>
                        User
                    </summary>
                    <ul dir="rtl">
                        <li><a href="#">Settings</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
</header>
<div>
    <main class="container content">
        @RenderBody()
    </main>
</div>

<footer>
    <div class="container content">
        &copy; 2025 - GitGriffin
    </div>
</footer>

<script src="//unpkg.com/alpinejs" defer></script>

<script src="~/js/site.js" asp-append-version="true"></script>
<script asp-src-include="@(ViewContext.View.Path).js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
